.text {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.text.rokkitt {
  font-family: 'Rokkitt', serif;
}

/* TEXT SIZES */
/* end TEXT SIZES */


/* TEXT COLORS */
.text.white {
  color: white;
}
/* end TEXT COLORS */


/* TEXT UTILS */
.text.uppercase {
  text-transform: uppercase;
}
.text.centered {
  text-align: center;
}
/* end TEXT UTILS */
