/* INDEX - to be removed */
#staticPageList li::before {
  content: "♡";
  font-family: sans-serif;
  position: relative;
  left: -0.7rem;
  top: 2px;
  font-size: 1.5rem;
  -webkit-transition: all 150ms ease-in;
}
#staticPageList li:hover::before {
  content: "♥";
}
#staticPageList li.done::before {
  color: YellowGreen;
}
#staticPageList li.in-progress::before {
  color: #E6C200;
}
#staticPageList li.missing::before {
  color: LightCoral;
}
/* end INDEX */


/* BUTTONS */
.button.bookr-button {
  border-radius: 0.3125rem; /*5px*/
  color: #275F82;
  box-shadow: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.125rem 1.5rem 1rem;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  border: none;
  background: #3FA9F5;
  font-size: 0.75rem; /* 12px */
  transition: background-color 150ms ease-out;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  min-width: 10rem; /*160px*/
  position: relative;
  top: -0.875rem; /*14px*/
}
.button.bookr-button:hover,
.button.bookr-button:focus {
  background: #3794D6;
  color: #333333;
}
/* end BUTTONS */


/* LANDING */
#landing {
  padding: 3% 0;

  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url('../img/landing.jpg');
}
#landing > h1 {
  font-size: 5rem; /*80px*/
  line-height: 1.2;
}
#landing > h2 {
  font-size: 2.5rem; /*40px*/
}
/* end LANDING */
