html {
  background: url('../img/bg_tile.png');
  background-repeat: repeat;
}
body {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

article {
  margin: 0;
  padding: 15% 0;
}
article.single {
  min-height: 100%;
}

.margin-top {
  margin-top: 3%;
}
.margin-top-double {
  margin-top: 6%;
}

.centered {
  margin: inherit auto;
  /*width: 100%;*/
}
