.text {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  line-height: 1.5;
  font-weight: 400;
}

.text.rokkitt {
  font-family: 'Rokkitt', serif;
}

/* TEXT SIZES */
/* end TEXT SIZES */


/* TEXT COLORS */
.text.white {
  color: white;
}
.text.gray {
  color: #808080;
}
.text.link {
  color: #3FA9F5;
  -webkit-transition: color 175ms linear;
}
.text.link:hover,
.text.link:focus {
  color: #275F82;
}
/* end TEXT COLORS */


/* TEXT UTILS */
.text.uppercase {
  text-transform: uppercase;
}
.text.centered {
  text-align: center;
}
/* end TEXT UTILS */
