/* INDEX - to be removed */
@-webkit-keyframes beat {
  to { -webkit-transform: scale(1.4); }
}
#staticPageList li span {
  margin: 0 1rem 0 0.2rem;
  zoom: 130%;
  position: relative;
  top: 1px;
  display: inline-block;
}
#staticPageList li.done span {
  color: YellowGreen;
}
#staticPageList li.in-progress span {
  color: #E6C200;
}
#staticPageList li.missing span {
  color: LightCoral;
}
#staticPageList a:hover > span {
  -webkit-animation-name: beat;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-transform-origin: center;
}
#staticPageList .done > a:hover > span {
  -webkit-animation-duration: 0.2s;
}
#staticPageList .in-progress > a:hover > span {
  -webkit-animation-duration: 0.5s;
}
#staticPageList .missing > a:hover > span {
  -webkit-animation-duration: 1s;
}
/* end INDEX */


/* NAVIGATION */
.bookr .top-bar {
  margin-bottom: 0;
  height: 3.125rem; /*50px*/
}
.bookr .top-bar .name {
  height: 3.125rem; /*50px*/
}
.logo {
  line-height: 3.125rem; /*50px*/
  vertical-align: middle;
  padding-left: 0.9375rem; /*15px*/
}
.centered .logo {
  padding: 0;
}

.bookr .side-nav {
  padding: 0;
}
.bookr .side-nav > li {
  margin: 0;
  border-bottom: 1px solid #B3B3B3;
}
.bookr .side-nav > li:last-child {
  border-bottom: none;
}
.bookr .side-nav a {
  background: #CCCCCC;
  font-size: 0.875rem; /*14px*/
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 0.625rem 1.5rem;
  -webkit-transition: all 150ms ease-in;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.bookr .side-nav li.active a,
.bookr .side-nav a:hover,
.bookr .side-nav a:focus {
  color: #333333;
  background: #B3B3B3;
  font-weight: 400;
}

.content-panel {
  background: white;
  padding: 1.3rem 1.5rem 2rem;
  overflow: hidden;
}
.content-panel a {
  display: block;
}
/* end NAVIGATION */


/* BUTTONS */
.bookr .button {
  border-radius: 0.3125rem; /*5px*/
  color: #275F82;
  box-shadow: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.9rem 1.5rem 0.85rem;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  border: none;
  background: #3FA9F5;
  font-size: 0.75rem; /* 12px */
  transition: background-color 150ms ease-out;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  min-width: 8.75rem; /*140px*/
}
.bookr .button:hover,
.bookr .button:focus {
  background: #3794D6;
  color: #333333;
}
/* end BUTTONS */


/* FORMS */
.bookr input,
.bookr textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  color: #B3B3B3;
  border-radius: 3px;
  border: 1px solid rgba(179, 179, 179, 0.7);
  padding: 0.625rem 1rem;
  height: auto;
  box-shadow: none;
  margin: 0 0 0.6rem;
}
.bookr input[type="file"] {
  background: rgba(179, 179, 179, 0.15);
  border: 2px dashed #B3B3B3;
  height: 9rem; /*135px*/
  -webkit-transition: all 150ms ease-in;
}
.bookr input[type="file"]:hover,
.bookr input[type="file"]:focus {
  color: #B3B3B3;
  background: rgba(179, 179, 179, 0.25);
}
.bookr input:focus,
.bookr textarea:focus {
  box-shadow: none;
  border-color: rgba(51, 51, 51, 0.6);
  outline: none;
}
.bookr fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.bookr fieldset > legend {
  background: none;
  margin-bottom: 0.8rem;
}

.help-icon {
  color: white;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  background: rgb(204, 204, 204);
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  margin-left: 1rem;
  -webkit-transition: all 150ms ease-in;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.help-icon:hover,
.help-icon:focus {
  color: #333333;
  background: #B3B3B3;
}
.with-help-icon > input {
  width: 65%;
  display: inline-block;
}

.form-link {
  text-transform: uppercase;
  font-size: 0.75rem; /*12px*/
  color: #275F82;
  margin-right: 3rem;
  padding-top: 0.8rem;
  transition: color 150ms ease-out;
  font-family: 'Montserrat', sans-serif;
}
.form-link:hover,
.form-link:focus {
  color: #333333;
}
.form-link.alone {
  margin-right: 0;
  padding-top: 0;
}

.bookr .tooltip {
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem; /* 14px */
  color: #B3B3B3;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 3px 0 rgba(128, 128, 128, 0.8);
  font-weight: 400;
}

.bookr .accordion p[data-section-title] > a {
  padding: 0.7rem 1rem;
}
.bookr .accordion div[data-section-content] {
  padding: 1.5rem 1rem;
}
.bookr .accordion input[type="checkbox"] {
  display: none;
}
.bookr .accordion label {
  font-family: 'Montserrat', sans-serif;
  color: #808080;
  font-size: 0.875rem; /*14px*/
  font-weight: 400;
  padding-bottom: 0.75rem;
}
.bookr form.custom .custom.checkbox.checked:before {
  margin-top: 7px;
  color: #808080;
}
/* end FORMS */


/* LANDING */
#landing {
  padding: 3% 0;

  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url('../img/landing.jpg');
}
#landing > h1 {
  font-size: 5rem; /*80px*/
  line-height: 1.2;
}
#landing > h2 {
  font-size: 2.5rem; /*40px*/
}
#landing .button {
  position: relative;
  top: -0.6rem;
}
/* end LANDING */


/* PROPERTIES INDEX */
.image-grid li > a {
  display: block;
}
.image-grid li {
  padding-top: 1rem;
  -webkit-transition: background 125ms ease-in;
}
.image-grid li:hover {
  outline: 1px solid rgba(128, 128, 128, 0.3);
  background: rgba(128, 128, 128, 0.1);
}
/* end PROPERTIES INDEX */


/* PROPERTY DETAILS */
.orbit-container img {
  width: 100%;
}
.orbit-bullets {
  width: 100%;
  display: inline-block;
  position: static;
  text-align: center;
  top: 0;
  overflow: visible;
  margin: 1rem 0 0;
}
.slideshow-wrapper .orbit-bullets li {
  margin: 0 0.375rem;
  display: inline-block;
  float: none;
  background: white;
}
.slideshow-wrapper .orbit-bullets li:hover {
  cursor: pointer;
}
.orbit-bullets li.active {
  background: #333333;
}
.orbit-container .orbit-prev,
.orbit-container .orbit-next {
  margin-top: -50px;
}
/* end PROPERTY DETAILS */


/* ROOM TYPE DETAILS */
.room-list > li {
  overflow: hidden;
  height: 2rem;
  padding: 0 1rem;
}
.room-list .text {
  line-height: 2rem;
  vertical-align: middle;
}
.room-list > li:nth-child(2n+1) {
  background: #F2F2F2;
}
/* end ROOM TYPE DETAILS */


/* RESERVATIONS - SEARCH */
.search-form .content-panel {
  padding: 1.5rem 1rem 1.5rem;
  overflow: visible;
}
.custom.search-form input,
.custom.search-form .custom.dropdown .current,
.custom.search-form .custom.dropdown ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem; /* 12px */
  font-weight: 400;
  color: #808080;
  padding: 0.625rem 0.75rem;
  margin: 0;
}
.custom.search-form .custom.dropdown .current,
.custom.search-form .custom.dropdown ul li {
  line-height: 1;
}
.custom.search-form input,
.custom.search-form .custom.dropdown {
  border-radius: 3px;
  margin: 0.1875rem 0 1rem;
}
.custom.search-form input {
  padding: 0.47rem 0.75rem;
}
/* end RESERVATIONS - SEARCH */


/* RESERVATIONS - NEW ORDER */
.bookr tr.border-top {
  border: solid #DDDDDD;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}
table {
  border: none;
}
table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
  background: white;
}
/* end RESERVATIONS - NEW ORDER */


/* RESERVATIONS - CHECK OUT */
#reservationsCheckOut input {
  background: #F7F5F2;
}
#reservationsCheckOut input:focus {
  background: rgba(247, 245, 242, 0.4);
}
/* end RESERVATIONS - CHECK OUT */


/* RESERVATIONS - ORDER CONFIRMATION */
.message-bar {
  background: rgba(57, 181, 74, 0.5);
  padding: 0.5rem 1.5rem;
}
.message-bar.failure {
  background: rgba(237, 28, 36, 0.5);
}
/* end RESERVATIONS - ORDER CONFIRMATION */


/* GUESTS - SEARCH RESULTS */
#guestsSearchResults li .uppercase {
  position: relative;
  top: 0.7rem;
}
/* end GUESTS - SEARCH RESULTS */


/* OCCUPANCY */
#occupancy .content-panel {
  padding: 1.5rem 2rem 1.5rem 1rem;
}
.chart-container {
  padding: 0 1rem;
  position: relative;
  overflow: hidden;
}
.chart-container .y-axis {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);

  position: absolute;
  left: -0.8rem;
  top: 45%;
}
.x-axis {
  padding-left: 3rem;
}
/* end OCCUPANCY */



@media only screen and (min-width: 768px) {
  .search-form .content-panel .columns > .columns {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .search-form .content-panel .columns > .large-4 {
    width: 28%;
  }
  .search-form .content-panel .columns > .large-3 {
    width: 22%;
  }
  .search-form .content-panel .columns > .large-2 {
    width: 11%;
  }
}
@media only screen and (min-width: 1280px) {
  .logo {
    padding-left: 0;
  }
}